 body {
     background-color: #0a051d;
     color: white;
     font-family: 'Inter', sans-serif;
     margin: 0;
     padding: 0;
 }

 .gradient-text {
     background: linear-gradient(to right, #FF31B8, #7131FF);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .gradient-btn {
     background: linear-gradient(90deg, #FF9900 0%, #FF31B8 50%, #7131FF 100%);
     color: white;
 }